.titleWrap {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 700;
  color: #262626;
}

.contentWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .inputTitle {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    label {
      cursor: pointer;
      font-size: 1rem;
      font-weight: 400;
    }
    .inputWrap {
      display: flex;
      align-items: center;
      gap: 15px;
      border-radius: 8px;
      padding: 10px;
      border: 1px solid #e2e0e0;
      height: 60px;
      padding-left: 30px;
      svg {
        width: 1.2rem;
        height: 1.2rem;
      }
      .checkBtn {
        cursor: pointer;
        width: 150px;
        border: none;
        padding: 8px;
        background-color:rgb(108, 175, 234);
        color: white;
        font-weight: bold;
        border-radius: 8px;
      }
      input {
        width: 100%;
        outline: none;
        border: none;
        height: 1rem;
        font-size: 0.9rem;
        font-weight: 400;
      &::placeholder {
        color: #dadada;
        }
      }
      &:focus-within {
        border: 1px solid #9e30f4;
      }
    }
  
  }
  .errorMessageWrap {
    color: #ef0000;

  }
  .button {
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    height: 48px;
    border: none;
    font-weight: 700;
    background-color: rgba(104, 228, 226, 0.6);
    border-radius: 8px;
    color: black;
  }
  .button:disabled {
    background-color: #dadada;
    color: white;
  }
}

.joinWrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  .join {
    cursor: pointer;
    font-weight: bold;
    color: rgb(108, 175, 234);
  }
}
